/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/10/2018, 17:35:41
    Author     : antoniocampos
*/
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

.header {
    min-width: 100%;
    height: 40px;
    background-color: gray;
    margin-top: 0;
    display: block;
    position: fixed; 
}

.divMenu {
    width: 100%; 
/*    position: fixed; */
    margin-top: 0px; 
    margin-right: 0px; 
    height: 40px;
    z-index: 99;
}

.menuHorizontal {
    text-align: right;
}
.menuHorizontal > li {
    display: inline-block;
}

ul a {
padding-right: 5px;
padding-left: 30px;
text-decoration: none;
font-size: 20px;
color: black;
}

.principalviewport {
    padding-top: 40px;
}

.largura100porcento {
    width: 100%;
}

.footer {
    max-height: 40px;
    min-height: 40px;
    background-color: gray;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-bottom: 0px;
}

/*SCROLL - INÍCIO*/
.scroll_button
{
 cursor:pointer;
}

.scroll_div
{
 width:100%;
 /*height: 1294px;*/
 border:1px solid;
 /*margin-top: 90px;*/
 padding-top: 40px;
}
/*SCROLL - FIM*/
